# Configuración Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=unsch_horarios
DB_USER=postgres
DB_PASSWORD=tu_contraseña_postgres
DB_SSLMODE=disable

# Configuración Backend
APP_PORT=8080

# Configuración Redis Caché y Locks
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=tu_contraseña_redis
REDIS_DB=0
REDIS_LOCK_TTL_MINUTES=15
